#screen
  .main
    .container-uno.containerscreen
      .quiz-title
      %p.quiz-subtitle.premio
        Por haber hecho el Quiz del Emprendedor </br>ganaste un <span style="color: yellow;">35%</span> de descuento</br> para inscribirte a INC MTY 2014,</br> regístrate usando éste código:</br></br> <span class="codigo">QZEMPRT.089</span></br></br></br><a href="https://www.cvent.com/events/incmty-2014/registration-80aa12cd4e944b78a65614cec3ec481a.aspx" target="_blank" class="registrarme">Registrarme</a>
      
    #footer
      .left
        %a.tw{:href => "https://twitter.com/incmty", :target => "_blank"}
        %a.fb{:href => "https://www.facebook.com/INCmty", :target => "_blank"}
        / %a.in{:href => "http://www.facebook.com", :target => "_blank"}

      .right
        %a.inscribete{:href => "http://www.incmty.com/contacto/", :target => "_blank"} Inscríbete
        %a.legal{:href => "http://www.incmty.com/aviso-legal/", :target => "_blank"} Aviso Legal
        %p.copyright © 2014 INCmty. ITESM México 2014
