
- if current_user
  %p

    Bienvenido #{current_user.name}

  .btn
    boton

- else
  / = link_to "loggin", "/auth/facebook"
  .main
    .container
      = image_tag("quiztitle.png", :class=>"quiz-title")
      %p.quiz-subtitle
        ( Descubre que tipo de emprendedor eres... )
