
.logo
  = image_tag "logo.png"
  %svg#logoincmob{"enable-background" => "new 0 0 119.2 60", :space => "preserve", :version => "1.1", :viewbox => "0 0 119.2 60", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
    %g
      %g
        %g
          %path{:d => "M86.6,41.8c0-0.5,0.1-1,0.3-1.5c0.2-0.5,0.5-0.9,0.8-1.2c0.3-0.4,0.7-0.6,1.2-0.8\r\n\t\t\t\tc0.4-0.2,0.9-0.3,1.5-0.3c0.6,0,1.2,0.1,1.6,0.4c0.5,0.3,0.9,0.6,1.2,1c0.3-0.4,0.7-0.8,1.2-1c0.5-0.3,1-0.4,1.6-0.4\r\n\t\t\t\tc0.5,0,1,0.1,1.5,0.3c0.5,0.2,0.8,0.5,1.2,0.8c0.3,0.4,0.6,0.8,0.8,1.2c0.2,0.5,0.3,1,0.3,1.5v6.1c0,0.2-0.1,0.4-0.3,0.6\r\n\t\t\t\tc-0.2,0.2-0.4,0.2-0.6,0.2c-0.2,0-0.4-0.1-0.6-0.2c-0.2-0.2-0.3-0.4-0.3-0.6v-6.1c0-0.6-0.2-1.1-0.5-1.6\r\n\t\t\t\tc-0.4-0.4-0.9-0.7-1.5-0.7c-0.7,0-1.2,0.2-1.6,0.7c-0.4,0.4-0.6,1-0.6,1.6v6.1c0,0.2,0,0.4-0.2,0.6c-0.2,0.2-0.3,0.2-0.5,0.2\r\n\t\t\t\tc-0.2,0-0.4-0.1-0.5-0.2c-0.2-0.2-0.2-0.4-0.2-0.6v-6.1c0-0.6-0.2-1.1-0.6-1.6c-0.4-0.4-0.9-0.7-1.5-0.7c-0.6,0-1.2,0.2-1.5,0.7\r\n\t\t\t\tc-0.4,0.4-0.6,1-0.6,1.6v6.1c0,0.2-0.1,0.4-0.2,0.6c-0.2,0.2-0.4,0.2-0.6,0.2c-0.2,0-0.5-0.1-0.6-0.2c-0.2-0.2-0.3-0.4-0.3-0.6\r\n\t\t\t\tV41.8z", :fill => "#00CBE3"}
        %g
          %path{:d => "M101.2,35.2c0-0.2,0-0.4,0.2-0.6c0.2-0.2,0.3-0.2,0.6-0.2c0.2,0,0.4,0.1,0.5,0.2c0.2,0.2,0.2,0.4,0.2,0.6\r\n\t\t\t\tv2.7h4.3c0.2,0,0.4,0.1,0.6,0.3c0.2,0.2,0.2,0.4,0.2,0.6c0,0.2-0.1,0.4-0.2,0.6c-0.2,0.2-0.4,0.3-0.6,0.3h-4.3v5.3\r\n\t\t\t\tc0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.7c0.2,0.2,0.5,0.4,0.7,0.5c0.3,0.1,0.6,0.2,0.9,0.2c0.5,0,0.9-0.1,1.3-0.4\r\n\t\t\t\tc0.4-0.2,0.7-0.6,0.8-1c0.1-0.2,0.2-0.3,0.3-0.4c0.1-0.1,0.3-0.1,0.5-0.1c0.2,0,0.4,0.1,0.6,0.3c0.2,0.2,0.2,0.4,0.2,0.6\r\n\t\t\t\tc0,0.1,0,0.2-0.1,0.3c-0.3,0.6-0.6,1.1-1,1.4c-0.4,0.3-0.8,0.6-1.2,0.7c-0.4,0.1-0.7,0.2-1,0.2c-0.3,0-0.4,0-0.4,0\r\n\t\t\t\tc-0.5,0-1-0.1-1.5-0.3c-0.5-0.2-0.9-0.5-1.2-0.8c-0.4-0.4-0.6-0.8-0.8-1.2c-0.2-0.5-0.3-1-0.3-1.5V35.2z", :fill => "#00CBE3"}
        %g
          %path{:d => "M109.3,38.8c0-0.2,0-0.4,0.2-0.6c0.2-0.2,0.3-0.2,0.6-0.2c0.2,0,0.4,0.1,0.5,0.2c0.2,0.2,0.2,0.4,0.2,0.6\r\n\t\t\t\tv6.1c0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.7c0.2,0.2,0.5,0.4,0.7,0.5c0.3,0.1,0.6,0.2,0.9,0.2c0.3,0,0.6-0.1,0.9-0.2\r\n\t\t\t\tc0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.2-0.6,0.2-0.9v-6.1c0-0.2,0-0.4,0.2-0.6s0.3-0.2,0.6-0.2\r\n\t\t\t\tc0.2,0,0.4,0.1,0.5,0.2c0.2,0.2,0.2,0.4,0.2,0.6v6.1c0,0.5,0,0.9-0.2,1.3c-0.2,0.4-0.3,0.8-0.6,1.1c-0.3,0.3-0.6,0.6-1,0.9\r\n\t\t\t\tc-0.4,0.2-0.7,0.4-1.2,0.5v3c0,0.2-0.1,0.4-0.3,0.6c-0.2,0.2-0.4,0.2-0.6,0.2c-0.2,0-0.4-0.1-0.6-0.2c-0.2-0.2-0.3-0.4-0.3-0.6\r\n\t\t\t\tv-3c-0.5-0.1-0.8-0.2-1.2-0.5c-0.4-0.2-0.7-0.5-1-0.9c-0.3-0.3-0.4-0.7-0.6-1.1c-0.2-0.4-0.2-0.9-0.2-1.3V38.8z", :fill => "#00CBE3"}
      %g
        %path{:d => "M10.5,10.1L10.5,10.1c-0.1,0-0.2-0.1-0.3-0.2c-0.8-0.7-1.8-1-2.9-1c-1.2,0-2.1,0.3-3,1\r\n\t\t\tc-0.8,0.7-1.2,1.5-1.2,2.5V47c0,1,0.4,1.8,1.2,2.5c0.8,0.7,1.8,1,2.9,1c1.2,0,2.1-0.3,3-1c0.1-0.1,0.2-0.1,0.3-0.2\r\n\t\t\tc0.6-0.6,1-1.4,1-2.2V12.3C11.5,11.4,11.2,10.8,10.5,10.1z", :fill => "#00CBE3"}
      %g
        %path{:d => "M10.5,10.1c-0.1,0-0.2-0.1-0.3-0.2c-0.8-0.7-1.8-1-2.9-1c-1.2,0-2.1,0.3-3,1c-0.8,0.7-1.2,1.5-1.2,2.5V47\r\n\t\t\tc0,1,0.4,1.8,1.2,2.5c0.8,0.7,1.8,1,2.9,1c1.2,0,2.1-0.3,3-1c0.1-0.1,0.2-0.1,0.3-0.2c0.6-0.6,1-1.4,1-2.2V12.3\r\n\t\t\tC11.5,11.4,11.2,10.8,10.5,10.1L10.5,10.1z", :fill => "#00CBE3"}
      %path{:d => "M57.5,46.5c1.5,1.2,3.2,2.2,5.2,2.9c2.1,0.8,4.3,1.1,6.6,1.1c1.8,0,3.5-0.2,5.2-0.6c1.6-0.4,3.1-1,4.5-1.8\r\n\t\tc1.4-0.8,2.6-1.7,3.6-2.8c1.1-1.1,1.9-2.3,2.5-3.6c0.2-0.4,0.3-0.8,0.3-1.2c0-0.8-0.3-1.5-1-2.2c-0.7-0.7-1.6-1-2.8-1\r\n\t\tc-0.6,0-1.3,0.2-1.9,0.5c-0.7,0.4-1.2,0.8-1.5,1.3c-0.7,1.4-1.9,2.6-3.5,3.6c-1.6,1-3.4,1.4-5.4,1.4c-1.3,0-2.5-0.2-3.6-0.6\r\n\t\tc-1.1-0.4-2.2-1-3-1.7c-0.9-0.7-1.6-1.5-2.1-2.5c-0.5-1-0.8-2-0.8-3V23.6c0-1.1,0.3-2.1,0.8-3c0.5-1,1.2-1.8,2-2.5\r\n\t\tc0.9-0.7,1.9-1.3,3-1.7s2.4-0.6,3.7-0.6c2,0,3.8,0.5,5.4,1.4c1.6,0.9,2.7,2.1,3.4,3.6c0.7,1.3,1.9,1.9,3.5,1.9c1.2,0,2.1-0.3,2.8-1\r\n\t\tc0.7-0.7,1-1.4,1-2.2c0-0.2,0-0.5-0.1-0.8c-0.1-0.3-0.2-0.6-0.4-0.9c-0.7-1.2-1.5-2.4-2.6-3.4c-1.1-1-2.3-1.9-3.6-2.7\r\n\t\tc-1.4-0.8-2.8-1.3-4.4-1.8c-1.6-0.4-3.3-0.6-5-0.6c-2.4,0-4.6,0.4-6.7,1.1c-2.1,0.7-3.9,1.8-5.4,3c-0.7,0.6-1.2,1.3-2,2l0,0\r\n\t\tc-0.7,0.8-1.2,1.6-1.7,2.5c-0.9,1.7-1.3,3.6-1.3,5.5v12.7c0,1.9,0.5,3.8,1.4,5.5c0.9,1.7,2.2,3.2,3.7,4.5\r\n\t\tC57.3,46.3,57.3,46.4,57.5,46.5", :fill => "#00CBE3"}
      %g
        %path{:d => "M84.4,38.2c-0.7-0.7-1.6-1-2.8-1c-0.6,0-1.3,0.2-1.9,0.5c-0.7,0.4-1.2,0.8-1.5,1.3\r\n\t\t\tc-0.7,1.4-1.9,2.6-3.5,3.6c-1.6,1-3.4,1.4-5.4,1.4c-1.3,0-2.5-0.2-3.6-0.6c-1.1-0.4-2.2-1-3-1.7c-0.9-0.7-1.6-1.5-2.1-2.5\r\n\t\t\tc-0.5-1-0.8-2-0.8-3V23.6c0-1.1,0.3-2.1,0.8-3c0.5-1,1.2-1.8,2-2.5c0.9-0.7,1.9-1.3,3-1.7s2.4-0.6,3.7-0.6c2,0,3.8,0.5,5.4,1.4\r\n\t\t\tc1.6,0.9,2.7,2.1,3.4,3.6c0.7,1.3,1.9,1.9,3.5,1.9c1.2,0,2.1-0.3,2.8-1c0.7-0.7,1-1.4,1-2.2c0-0.2,0-0.5-0.1-0.8\r\n\t\t\tc-0.1-0.3-0.2-0.6-0.4-0.9c-0.7-1.2-1.5-2.4-2.6-3.4c-1.1-1-2.3-1.9-3.6-2.7c-1.4-0.8-2.8-1.3-4.4-1.8c-1.6-0.4-3.3-0.6-5-0.6\r\n\t\t\tc-2.4,0-4.6,0.4-6.7,1.1c-2.1,0.7-3.9,1.8-5.4,3c-0.7,0.6-1.2,1.3-2,2l0,0c-0.7,0.8-1.2,1.6-1.7,2.5c-0.9,1.7-1.3,3.6-1.3,5.5\r\n\t\t\tv12.7c0,1.9,0.5,3.8,1.4,5.5c0.9,1.7,2.2,3.2,3.7,4.5c0.1,0.1,0.1,0.1,0.2,0.2h0c1.5,1.2,3.2,2.2,5.2,2.9c2.1,0.8,4.3,1.1,6.6,1.1\r\n\t\t\tc1.8,0,3.5-0.2,5.2-0.6c1.6-0.4,3.1-1,4.5-1.8c1.4-0.8,2.6-1.7,3.6-2.8c1.1-1.1,1.9-2.3,2.5-3.6c0.2-0.4,0.3-0.8,0.3-1.2\r\n\t\t\tC85.4,39.6,85,38.8,84.4,38.2z", :fill => "#00CBE3"}
      %g
        %path{:d => "M48.9,16.9c-0.2-0.5-0.5-0.9-0.8-1.3l0,0c-0.9-1.3-1.9-2.5-3.2-3.5c-1.7-1.4-3.6-2.5-5.9-3.3\r\n\t\t\tc-2.3-0.8-4.6-1.2-7.2-1.2s-4.9,0.4-7.2,1.2c-1.3,0.5-2.5,1-3.6,1.7c-0.2-0.2-0.4-0.4-0.6-0.6c-0.8-0.7-1.8-1-2.9-1\r\n\t\t\tc-1.2,0-2.2,0.3-3,1c-0.1,0.1-0.2,0.2-0.3,0.2l-0.1,0c-0.6,0.6-1,1.4-1,2.2v10.6V47v0c0,0.9,0.4,1.6,1,2.2\r\n\t\t\tc0.1,0.1,0.2,0.1,0.3,0.2c0.8,0.7,1.8,1,3,1c1.2,0,2.1-0.3,2.9-1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0.8-0.7,1.3-1.5,1.3-2.5V21.9\r\n\t\t\tc0-0.8,0.3-1.5,0.6-2.3c0.5-1,1.2-1.9,2.1-2.7c0.9-0.8,2-1.4,3.2-1.8c1.2-0.4,2.6-0.7,4-0.7c1.4,0,2.7,0.2,4,0.7\r\n\t\t\tc1.2,0.4,2.3,1,3.3,1.8c0.9,0.8,1.5,1.7,2.1,2.7s0.7,2.1,0.7,3.3V47c0,1,0.5,1.8,1.4,2.5c0.8,0.7,1.9,1,3,1c1.2,0,2.2-0.3,3-1\r\n\t\t\tc0.8-0.7,1.3-1.5,1.3-2.5v-0.5V22.8C50.4,20.7,49.9,18.8,48.9,16.9z", :fill => "#00CBE3"}
      %g
        %path{:d => "M48.1,15.6L48.1,15.6c-0.9-1.3-2-2.5-3.2-3.5c-1.7-1.4-3.6-2.5-5.9-3.3c-2.3-0.8-4.6-1.2-7.2-1.2\r\n\t\t\tc-2.5,0-4.9,0.4-7.2,1.2c-1.3,0.5-2.5,1-3.6,1.7c-0.2-0.2-0.4-0.4-0.6-0.6c-0.8-0.7-1.8-1-2.9-1c-1.2,0-2.2,0.3-3,1\r\n\t\t\tc-0.1,0.1-0.2,0.2-0.3,0.2l-0.1,0c-0.6,0.6-1,1.4-1,2.2v10.6V47v0c0,0.9,0.4,1.6,1,2.2c0.1,0.1,0.2,0.1,0.3,0.2c0.8,0.7,1.8,1,3,1\r\n\t\t\tc1.2,0,2.1-0.3,2.9-1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0.8-0.7,1.3-1.5,1.3-2.5V21.9c0-0.8,0.3-1.5,0.6-2.3c0.5-1,1.2-1.9,2.1-2.7\r\n\t\t\tc0.9-0.8,2-1.4,3.2-1.8c1.2-0.4,2.6-0.7,4-0.7c1.4,0,2.7,0.2,4,0.7c1.2,0.4,2.3,1,3.3,1.8c0.9,0.8,1.5,1.7,2.1,2.7\r\n\t\t\ts0.7,2.1,0.7,3.3V47c0,1,0.5,1.8,1.4,2.5c0.8,0.7,1.9,1,3,1c1.2,0,2.2-0.3,3-1c0.8-0.7,1.3-1.5,1.3-2.5v-0.5V22.8\r\n\t\t\tc0-2.1-0.5-4.1-1.5-5.9C48.7,16.5,48.4,16,48.1,15.6z", :fill => "#00CBE3"}
  .marquesina
    .amarillo.line
    .morado.line
    .rosa.line
    .verde.line
- if current_user
  / %script{:type=>'text/paperscript', :canvas=>'canvas'}
  /   var raster = new Raster('profile');

  /   raster.visible = false;

  /   var gridSize = 15;

  /   var spacing = .5;

  /   raster.on('load', function() {
  /   raster.size = new Size(25, 25);

  /   for (var y = 0; y < raster.height; y++) {
  /   for(var x = 0; x < raster.width; x++) {
  /   var color = raster.getPixel(x, y);

  /   var triangle = new Path.RegularPolygon(new Point(x, y) * gridSize, 3, gridSize / 2 / spacing);
    
    


  /   triangle.fillColor = color;
  /   }
  /   }

  /   project.activeLayer.position = view.center;
  /   });

  /   project.activeLayer.position = view.center;
  #main
    = image_tag("profile.jpg", :id=>"profile")
    %canvas#cosmos
  #nav-right

    %p.righttitle
      CREA EL MEJOR INCMTY<br>
      <span>Y GANA UNA ENTRADA<br>PARA NUESTRO<br>EVENTO 2014</span>

  #incmenu
    .catcont
      .cat#cat-startup{:cat=>"startup", :color=>"#FAD000"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %path{"clip-rule" => "evenodd", :d => "M26.7,48.9c0.1-0.9,0.2-1.8,0.4-2.7c0.9-4.7,3.1-8.7,6.4-12\r\n\t\tc0.8-0.8,1.5-1.5,2.6-1.8c2.1-0.6,4.3,0.3,5.4,2.2c1,1.9,0.6,4.3-1,5.7c-2.7,2.4-4.2,5.4-4.5,9c-0.6,6.9,3.8,13.1,10.5,14.9\r\n\t\tc8,2.1,16.2-3.1,17.5-11.3c0.7-4.2-0.4-7.9-3-11.2c-0.1-0.2-0.3-0.3-0.5-0.4c-2.1-1.6-2.4-4.6-0.8-6.6c1.6-2,4.6-2.4,6.6-0.7\r\n\t\tc2.4,2,4,4.6,5.2,7.3c1.1,2.3,1.7,4.8,1.8,7.4c0,0.1,0.1,0.3,0.1,0.4c0,1.1,0,2.1,0,3.2c0,0.1-0.1,0.2-0.1,0.3\r\n\t\tc-0.2,1.3-0.3,2.6-0.7,3.8c-2.7,9.3-8.9,15.1-18.4,17.1c-1,0.2-2,0.3-2.9,0.4c-0.9,0-1.7,0-2.6,0c-0.1,0-0.3-0.1-0.4-0.1\r\n\t\tc-1.1-0.1-2.1-0.2-3.1-0.4c-8.9-1.8-16.2-9.2-17.9-18c-0.2-1.1-0.3-2.2-0.5-3.3C26.7,51,26.7,49.9,26.7,48.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
            %path{"clip-rule" => "evenodd", :d => "M50.9,22.4c1.1,0.3,2.2,0.8,2.9,1.8c0.6,0.9,1,1.8,1,2.9\r\n\t\tc0,6.3,0,12.7-0.1,19c0,2.6-2.1,4.7-4.7,4.7c-2.6,0-4.7-2.1-4.7-4.7c0-6.3,0-12.7,0.1-19c0-2.3,1.5-4.1,3.7-4.6\r\n\t\tc0.1,0,0.1-0.1,0.2-0.1C49.8,22.4,50.4,22.4,50.9,22.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
      .cat#cat-scaleup{:cat=>"scaleup", :color=>"#111E90"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %path{"clip-rule" => "evenodd", :d => "M65.8,33c-1.2-0.4-2.3-0.5-3.5,0c-1,0.4-1.8,1-2.4,1.9\r\n\t\t\tc-3.4,5.5-0.6,1.5-4,7c-1.4,2.2-0.7,5.2,1.5,6.5c2.2,1.4,5.2,0.8,6.6-1.5c3.4-5.4,0.6-1.5,4-7c1.2-1.9,0.9-4.3-0.7-6\r\n\t\t\tc0,0-0.1-0.1-0.1-0.2C66.7,33.6,66.3,33.3,65.8,33z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M59.9,34.9c-3.4,5.5-8.5,14-11.9,19.5c-1.4,2.2-0.7,5.2,1.5,6.5\r\n\t\t\tc2.2,1.4,5.2,0.8,6.6-1.5C59.5,54,64.6,45.4,68,40", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M36.3,46.3c-3.4,5.5-8.9,14.1-12.3,19.5\r\n\t\t\tc-1.4,2.2-0.7,5.2,1.5,6.5c2.2,1.4,5.2,0.8,6.6-1.5c3.4-5.4,8.9-14.1,12.3-19.5", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M72,29.8c-0.6-1.1-1.3-2-2.4-2.5c-1-0.4-2-0.6-3.1-0.3\r\n\t\t\tc-6.3,1.4-12.6,2.9-18.8,4.3c-2.6,0.6-4.1,3.2-3.6,5.7c0.6,2.5,3.1,4.2,5.7,3.6c6.3-1.4,12.6-2.9,18.8-4.3\r\n\t\t\tc2.2-0.5,3.7-2.4,3.7-4.7c0-0.1,0-0.1,0-0.2C72.3,30.9,72.1,30.4,72,29.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M55.8,60.1c-0.9,0.8-1.9,1.4-3.1,1.5c-1.1,0.1-2.1-0.1-3-0.7\r\n\t\t\tc-5.5-3.4-6.8-4.2-12.2-7.7c-2.2-1.4-2.9-4.3-1.5-6.5c1.4-2.2,4.3-2.9,6.6-1.5c5.5,3.4,6.8,4.2,12.2,7.6c1.9,1.2,2.7,3.5,1.9,5.7\r\n\t\t\tc0,0.1,0,0.1,0,0.2C56.3,59.2,56.1,59.6,55.8,60.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M67.4,27c1.2,0,2.3,0.3,3.3,1.1c0.8,0.7,1.4,1.6,1.6,2.6\r\n\t\t\tc1.5,6.3,2.9,12.5,4.3,18.8c0.6,2.6-1,5.1-3.5,5.7c-2.5,0.6-5.1-1-5.7-3.6c-1.5-6.3-2.9-12.5-4.3-18.8c-0.5-2.2,0.6-4.4,2.6-5.4\r\n\t\t\tc0.1,0,0.1-0.1,0.2-0.1C66.4,27.2,66.9,27.1,67.4,27z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
      .cat#cat-build{:cat=>"build", :color=>"#EA094B"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %path{"clip-rule" => "evenodd", :d => "M54,46.1c0,0-13.1,21-20.5,31.4c-2.1,2.9-4.6,1.4-4.9,1.2\r\n\t\tl-3.9-2.8c-0.4-0.3-2.7-2.1-0.6-5.1c3.5-5,7.2-9.9,10.8-14.8c3.9-5.3,11.2-15.4,11.2-15.4c0.3-0.4,0.8-0.5,1.2-0.2l6.5,4.6\r\n\t\tC54.2,45.2,54.3,45.7,54,46.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
            %path{"clip-rule" => "evenodd", :d => "M56.5,42.3c0,0-0.2,0.4-0.5,0.9c-0.3,0.5-0.5,0.8-0.5,0.8\r\n\t\tc-0.2,0.4-0.8,0.5-1.1,0.2l-6.5-4.6c-0.4-0.3-0.5-0.8-0.2-1.1l1.1-1.5c0.3-0.4,0.8-0.5,1.2-0.2l6.3,4.4\r\n\t\tC56.6,41.3,56.8,41.9,56.5,42.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
            %path{"clip-rule" => "evenodd", :d => "M76.4,38.9c-1.3,2-2.7,4-4.2,6c-0.3,0.3-0.7,0.6-1.2,0.7\r\n\t\tc-2.2,0.6-4.8-1.9-4.4-4.1c0.1-0.5-0.1-1.1-0.3-1.6c-1.2-1.7-3-2.7-5.1-2.6c-0.9,0.1-1.4,0.4-2.1,1c-0.5,0.5-1.1,1.5-1.6,2.3\r\n\t\tl-7.7-5.4c0.2-0.4,0.9-1.3,1.3-2c1.2-1.9,0.9-3.5-1-4.8c-3.3-2.2-5.1-2.7-9-2.7c-1,0-2.7,0.4-3-0.3c-0.7-1.4-0.7-1.5,0.9-2.2\r\n\t\tc5-1.9,10.1-3.3,15.4-2.1c2.3,0.5,2.6,1.2,4.7,2.3c2.3,1.3,4.3,2.9,6.4,4.5c0.6,0.5,1,1.4,1.4,2.1c0.4,0.8,0.4,1.7,0.8,2.5\r\n\t\tc0.8,2,2.6,2.7,4.5,1.8c1.2-0.6,2.5-0.1,3.9,1.4C76.9,36.8,77,37.9,76.4,38.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
      .cat#cat-expo{:cat=>"expo", :color=>"#38B5E6"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %path{:d => "M80.1,49.8C80.1,49.8,80.1,49.8,80.1,49.8L80.1,49.8c-5.4-12-16.9-19.4-30.1-19.4\r\n\t\t\tc-13.1,0-24.6,7.4-30.1,19.4l0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c5.4,12,16.9,19.4,30.1,19.4C63.1,69.2,74.6,61.7,80.1,49.8\r\n\t\t\tL80.1,49.8C80.1,49.8,80.1,49.8,80.1,49.8z M50,65.9c-11.3,0-21.3-6.1-26.4-16.1c5.1-10,15.1-16.1,26.4-16.1s21.3,6.1,26.4,16.1\r\n\t\t\tC71.3,59.7,61.3,65.9,50,65.9z", :fill => "#FFFFFF"}
              %path{:d => "M49.7,33.7c-6.1,3.1-9.9,9.2-9.9,16.2c0,6.9,3.8,13,9.9,16.2c6.1-3.1,9.9-9.2,9.9-16.2\r\n\t\t\tC59.6,42.9,55.8,36.8,49.7,33.7z M51.7,49.2c-2.7,0-5-2.2-5-5c0-2.7,2.2-5,5-5c2.7,0,5,2.2,5,5C56.7,46.9,54.4,49.2,51.7,49.2z", :fill => "#FFFFFF"}
      .cat#cat-trends{:cat=>"trends", :color=>"#7664A0"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %path{:d => "M79.8,46c0,27-59.6,27-59.6,0l0,0C20.2,17,79.8,17,79.8,46z", :fill => "#FFFFFF"}
              %path{:d => "M38,61.4L34.9,73c-0.6,2.3,0.4,3,2.3,1.6L49,65.8c1.9-1.4,2.4-4.2,1.1-6.2C50.1,59.6,47.3,55.3,38,61.4z", :fill => "#FFFFFF"}
      .cat#cat-launch{:cat=>"launch", :color=>"#80BD01"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %g
                %g
                  %path{:d => "M34.1,63.2c-0.5,1.3-1.4,2.1-2.1,1.8l-9-3.5c-0.8-0.3-1-1.6-0.5-2.8c0,0,14.2-8.9,15-8.6l0.3,0.1\r\n\t\t\t\t\tc0.8,0.3,0.8,1.5,0.3,2.8L34.1,63.2z", :fill => "#FFFFFF"}
                  %path{:d => "M51.6,70.1c-0.5,1.3-0.2,2.6,0.6,2.9l9,3.5c0.8,0.3,1.8-0.5,2.3-1.7c0,0-4.3-16.2-5.1-16.5l-0.3-0.1\r\n\t\t\t\t\tc-0.8-0.3-1.9,0.4-2.4,1.7L51.6,70.1z", :fill => "#FFFFFF"}
                  %path{:d => "M60,23.7c-6.8-2.6-14,13.1-15.9,18.1c-1.3,3.4-0.1,0.3-1.4,3.7c-1.7,4.4-3.5,8.8-5.2,13.1\r\n\t\t\t\t\tc-0.5,1.3-1,2.6-1.5,3.8c-0.7,1.7,0,4.1,1.6,5.1c0.1,0.1,2.3,1.4,4.5,2.2c2.2,0.9,4.5,1.3,4.5,1.3c1.8,0.4,3.9-0.9,4.6-2.6\r\n\t\t\t\t\tc0.5-1.3,1-2.6,1.5-3.8c1.7-4.4,3.5-8.8,5.2-13.1c1.3-3.4,0.1-0.3,1.4-3.7C61.2,42.9,66.7,26.5,60,23.7z M52.1,43.6\r\n\t\t\t\t\tc-2-0.8-3-3.1-2.2-5.1c0.8-2,3.1-3,5.1-2.2c2,0.8,3,3.1,2.2,5.1C56.4,43.4,54.1,44.4,52.1,43.6z", :fill => "#FFFFFF"}
      .cat#cat-award{:cat=>"award", :color=>"#FFA409"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %path{:d => "M67,29.4v-2c0-1.3-0.4-2.4-1.7-2.4H34.2c-1.3,0-3.2,1.1-3.2,2.4v2c-4,0.5-8,5.1-8,10.4v0\r\n\t\t\tc0,5.7,4.1,10.1,9.7,10.1h1.1c2.6,7,8.2,9.5,13.2,10.4V66h-4c-2.2,0-3.8,1.7-4.2,3.9c0,0.2,0.1,0.5,0.1,0.7v3.3\r\n\t\t\tc0,0-0.4,0.1-0.4,0.1h22.3c0,0,0.1-0.1,0.1-0.1v-3.3c0-0.2-0.1-0.5-0.1-0.7c-0.3-2.1-2.2-3.9-4.4-3.9H53v-5.6\r\n\t\t\tc5-1,10-5.4,12.5-10.4h1.2C72.4,50,77,45.4,77,39.7v0C77,34.2,73,29.7,67,29.4z M32.8,47c-4.3,0-6.8-2.6-6.8-6.9V40\r\n\t\t\tc0-4,3-7.2,5-7.7v8.6v0.5C31,43.7,32.2,46,32.8,47L32.8,47z M74,40.1c0,4.3-3.1,6.9-7.4,6.9h-0.3c0.7-1,0.7-3.3,0.7-5.7v-0.5v-8.6\r\n\t\t\tC71,32.7,74,36,74,40.1L74,40.1z", :fill => "#FFFFFF"}
      .cat#cat-party{:cat=>"party", :color=>"#D8006C"}
        %svg{"enable-background" => "new 0 0 100 100", :space => "preserve", :version => "1.1", :viewbox => "0 0 100 100", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %path{"clip-rule" => "evenodd", :d => "M56.7,56.5c-1.2,0-2.4,0-3.6,0c-0.5,0-0.8-0.4-0.8-0.8\r\n\t\t\tc0-1.2,0-2.4,0-3.6c0-0.5,0.4-0.8,0.8-0.8c1.2,0,2.4,0,3.6,0c0.5,0,0.8,0.4,0.8,0.8c0,1.2,0,2.4,0,3.6\r\n\t\t\tC57.5,56.1,57.1,56.5,56.7,56.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M57.2,58.8c0,1,0,2.1-0.1,3.1c0,0.4-0.3,0.7-0.7,0.7\r\n\t\t\tc-1,0-2.1,0.1-3.1,0.1c-0.4,0-0.7-0.3-0.7-0.7c0-1,0-2,0-3.1c0-0.4,0.3-0.7,0.7-0.7c1.1,0,2.1,0,3.2,0\r\n\t\t\tC56.9,58.1,57.2,58.4,57.2,58.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M52.9,74.6c1.1,0,2.2-0.1,3.2-0.1c0.4,0,0.7,0.2,0.7,0.5\r\n\t\t\tc-0.1,0.7-0.1,1.5-0.2,2.1c0,0.2-0.4,0.5-0.7,0.5c-1,0.1-2,0.1-3,0.1c-0.4,0-0.7-0.2-0.7-0.4c0-0.7,0-1.4,0-2.1\r\n\t\t\tC52.2,74.9,52.5,74.6,52.9,74.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M56.9,73c0,0.3-0.4,0.6-0.7,0.6c-1,0.1-2,0.1-3.1,0.1\r\n\t\t\tc-0.4,0-0.7-0.2-0.7-0.5c0-0.8,0-1.6,0-2.5c0-0.3,0.3-0.6,0.7-0.6c1.1,0,2.2-0.1,3.2-0.1c0.4,0,0.7,0.2,0.7,0.6\r\n\t\t\tC57,71.3,56.9,72.2,56.9,73z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M57,67.8c0,0.3-0.3,0.6-0.7,0.7c-1,0.1-2.1,0.1-3.1,0.1\r\n\t\t\tc-0.4,0-0.7-0.3-0.7-0.6c0-0.9,0-1.9,0-2.9c0-0.4,0.3-0.7,0.7-0.7c1.1,0,2.2,0,3.2-0.1c0.4,0,0.7,0.3,0.7,0.7\r\n\t\t\tC57.1,66,57.1,66.9,57,67.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M57.1,22.3c0.9,0.1,1.9,0.2,2.8,0.4c0.3,0.1,0.7,0.2,0.7,0.4\r\n\t\t\tc0.2,0.5,0.3,1,0.5,1.5c0.1,0.2-0.2,0.3-0.6,0.3c-1-0.1-2-0.3-3-0.4c-0.4,0-0.7-0.2-0.8-0.5c-0.1-0.6-0.2-1.1-0.3-1.5\r\n\t\t\tC56.5,22.3,56.7,22.2,57.1,22.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M77.4,45.1c-0.7-0.1-1.5-0.2-2.3-0.3c-0.3,0-0.6-0.4-0.7-0.9\r\n\t\t\tc-0.1-1.2-0.3-2.3-0.4-3.4c-0.1-0.4,0.1-0.7,0.5-0.6c0.8,0.2,1.6,0.3,2.3,0.5c0.3,0.1,0.5,0.4,0.6,0.8c0.2,1,0.3,2.1,0.5,3.2\r\n\t\t\tC77.9,44.8,77.7,45.1,77.4,45.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M77.7,46.6c0.1,0.9,0.1,1.8,0.2,2.7c0,0.4-0.2,0.6-0.4,0.6\r\n\t\t\tc-0.6,0-1.2,0-1.9,0c-0.3,0-0.5-0.3-0.5-0.7c0-1-0.1-2-0.2-2.9c0-0.4,0.2-0.6,0.4-0.6c0.7,0.1,1.3,0.2,1.9,0.2\r\n\t\t\tC77.5,45.9,77.7,46.2,77.7,46.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M75,57.7c0-0.4,0.3-0.7,0.5-0.7c0.6-0.1,1.3-0.1,1.8-0.2\r\n\t\t\tc0.2,0,0.4,0.2,0.3,0.6c-0.1,0.9-0.2,1.7-0.3,2.6c0,0.3-0.2,0.6-0.5,0.7c-0.6,0.1-1.2,0.3-1.8,0.4c-0.3,0-0.4-0.2-0.4-0.5\r\n\t\t\tC74.9,59.6,75,58.6,75,57.7z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M77.5,55.5c-0.6,0.1-1.3,0.1-2,0.2c-0.3,0-0.5-0.3-0.5-0.7\r\n\t\t\tc0-1,0.1-2.1,0-3.1c0-0.4,0.2-0.7,0.5-0.7c0.7,0,1.3,0,2,0c0.2,0,0.4,0.3,0.4,0.7c0,1,0,1.9-0.1,2.9\r\n\t\t\tC77.9,55.2,77.8,55.5,77.5,55.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M73.4,45.5c0.3,0,0.5,0.3,0.5,0.7c0.1,0.9,0.1,1.9,0.2,2.8\r\n\t\t\tc0,0.4-0.2,0.7-0.5,0.7c-0.7,0-1.5,0-2.3,0c-0.3,0-0.6-0.3-0.6-0.7c0-1-0.1-2-0.1-3c0-0.4,0.2-0.7,0.5-0.6\r\n\t\t\tC71.9,45.4,72.6,45.5,73.4,45.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M59.7,44.8c1.1,0,2.1,0.1,3.1,0.1c0.4,0,0.7,0.4,0.7,0.8\r\n\t\t\tc0.1,1.1,0.1,2.1,0.1,3.2c0,0.4-0.3,0.8-0.7,0.7c-1,0-2.1,0-3.2,0c-0.4,0-0.8-0.3-0.8-0.8c0-1.1,0-2.2-0.1-3.3\r\n\t\t\tC58.9,45.1,59.3,44.8,59.7,44.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M58.8,42.4c0-1-0.1-2.1-0.1-3.1c0-0.4,0.3-0.7,0.7-0.6\r\n\t\t\tc1,0,2,0.1,3,0.2c0.4,0,0.7,0.3,0.7,0.7c0.1,1,0.2,2,0.2,3c0,0.4-0.3,0.7-0.7,0.7c-1,0-2.1-0.1-3.1-0.1\r\n\t\t\tC59.2,43.1,58.9,42.8,58.8,42.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M59,52.1c0-0.4,0.3-0.8,0.8-0.8c1.1,0,2.2,0,3.2,0\r\n\t\t\tc0.4,0,0.7,0.3,0.7,0.8c0,1.1,0,2.2,0,3.3c0,0.4-0.3,0.8-0.7,0.8c-1,0-2.1,0.1-3.2,0.1c-0.4,0-0.8-0.3-0.8-0.8\r\n\t\t\tC59,54.4,59,53.3,59,52.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M64,69.7c0-0.4,0.4-0.7,0.8-0.7c1-0.1,2-0.3,3-0.4\r\n\t\t\tc0.4-0.1,0.6,0.2,0.5,0.5c-0.2,0.9-0.3,1.8-0.5,2.6c-0.1,0.3-0.4,0.6-0.7,0.7c-0.9,0.2-1.8,0.4-2.8,0.5c-0.4,0.1-0.6-0.1-0.6-0.5\r\n\t\t\tC63.8,71.5,63.9,70.6,64,69.7z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M68.9,56.2c-1,0.1-2.1,0.1-3.2,0.2c-0.4,0-0.8-0.3-0.8-0.8\r\n\t\t\tc0-1.2,0-2.5,0-3.7c0-0.5,0.3-0.9,0.8-0.9c1.1,0,2.2,0,3.2,0c0.4,0,0.7,0.4,0.7,0.8c0,1.2,0,2.4,0,3.5\r\n\t\t\tC69.6,55.8,69.3,56.2,68.9,56.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M69.5,58.1c0,1.1-0.1,2.2-0.2,3.3c0,0.4-0.4,0.8-0.7,0.8\r\n\t\t\tc-1,0.1-2,0.2-3,0.3c-0.4,0-0.7-0.3-0.7-0.7c0.1-1.1,0.1-2.3,0.2-3.4c0-0.5,0.4-0.8,0.8-0.8c1.1,0,2.1-0.1,3.1-0.2\r\n\t\t\tC69.2,57.3,69.5,57.6,69.5,58.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M68.9,49.9c-1,0-2,0-3.1,0c-0.4,0-0.8-0.4-0.8-0.8\r\n\t\t\tc0-1.2-0.1-2.4-0.1-3.6c0-0.4,0.3-0.8,0.7-0.8c1.1,0.1,2.1,0.1,3.1,0.2c0.4,0,0.7,0.4,0.7,0.8c0.1,1.1,0.1,2.3,0.2,3.4\r\n\t\t\tC69.6,49.6,69.3,49.9,68.9,49.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M68.6,43.8c-1-0.1-2-0.1-3-0.2c-0.4,0-0.8-0.4-0.8-0.8\r\n\t\t\tc-0.1-1.1-0.2-2.2-0.3-3.3c0-0.4,0.3-0.7,0.7-0.7c1,0.1,2,0.2,3,0.3c0.4,0,0.7,0.4,0.7,0.8c0.1,1,0.2,2.1,0.3,3.1\r\n\t\t\tC69.2,43.5,68.9,43.8,68.6,43.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M68,38.1c-1-0.1-1.9-0.2-3-0.3c-0.4,0-0.8-0.4-0.8-0.8\r\n\t\t\tc-0.1-1-0.2-2-0.4-2.9c0-0.3,0.2-0.6,0.6-0.5c1,0.1,1.9,0.3,2.9,0.4c0.3,0.1,0.7,0.4,0.7,0.7c0.2,0.9,0.3,1.8,0.5,2.8\r\n\t\t\tC68.6,37.9,68.4,38.1,68,38.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M67.9,67.6c-0.9,0.2-1.9,0.3-2.9,0.4c-0.4,0.1-0.7-0.2-0.6-0.6\r\n\t\t\tc0.1-1,0.2-2,0.3-3.1c0-0.4,0.4-0.8,0.8-0.8c1-0.1,2-0.2,3-0.3c0.4,0,0.6,0.2,0.6,0.6c-0.1,1-0.2,2-0.4,3\r\n\t\t\tC68.5,67.2,68.2,67.5,67.9,67.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M72.3,66.4c-0.7,0.2-1.4,0.3-2.1,0.5c-0.3,0.1-0.5-0.1-0.4-0.5\r\n\t\t\tc0.1-0.8,0.2-1.7,0.3-2.5c0-0.3,0.3-0.6,0.6-0.7c0.8-0.1,1.5-0.2,2.2-0.3c0.3,0,0.4,0.2,0.4,0.5c-0.1,0.8-0.2,1.6-0.4,2.4\r\n\t\t\tC72.8,66.1,72.6,66.4,72.3,66.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M73.1,61.3c-0.7,0.1-1.5,0.2-2.2,0.3c-0.3,0-0.5-0.2-0.5-0.6\r\n\t\t\tc0.1-0.9,0.2-1.9,0.2-2.9c0-0.4,0.3-0.7,0.6-0.7c0.8-0.1,1.5-0.1,2.3-0.2c0.3,0,0.5,0.2,0.4,0.6c-0.1,0.9-0.1,1.8-0.2,2.7\r\n\t\t\tC73.6,60.9,73.4,61.2,73.1,61.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M72.4,38.5c-0.7-0.1-1.4-0.2-2.1-0.4c-0.3,0-0.6-0.3-0.6-0.7\r\n\t\t\tc-0.1-0.8-0.3-1.6-0.4-2.4c-0.1-0.3,0.1-0.5,0.4-0.4c0.7,0.1,1.4,0.3,2.1,0.5c0.2,0.1,0.5,0.3,0.6,0.6c0.2,0.7,0.3,1.5,0.5,2.3\r\n\t\t\tC72.8,38.3,72.7,38.5,72.4,38.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M71.4,33.8c-0.7-0.2-1.3-0.3-2.1-0.5c-0.3-0.1-0.6-0.3-0.6-0.6\r\n\t\t\tc-0.2-0.7-0.3-1.3-0.5-2c-0.1-0.2,0.1-0.4,0.4-0.3c0.7,0.2,1.3,0.4,2,0.6c0.2,0.1,0.5,0.3,0.6,0.5c0.2,0.6,0.4,1.2,0.6,1.9\r\n\t\t\tC71.8,33.7,71.7,33.8,71.4,33.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M70.3,29.9c-0.6-0.2-1.3-0.4-2-0.6c-0.3-0.1-0.6-0.3-0.6-0.5\r\n\t\t\tc-0.2-0.6-0.4-1.1-0.6-1.6c-0.1-0.2,0.1-0.3,0.3-0.2c0.7,0.2,1.3,0.4,1.9,0.6c0.2,0.1,0.5,0.3,0.6,0.5c0.2,0.5,0.5,1,0.7,1.6\r\n\t\t\tC70.6,29.8,70.5,29.9,70.3,29.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M67.1,30.3c0.2,0.8,0.4,1.6,0.6,2.4c0.1,0.3-0.2,0.5-0.5,0.5\r\n\t\t\tc-0.9-0.2-1.9-0.3-2.9-0.5c-0.4-0.1-0.7-0.4-0.8-0.7c-0.1-0.9-0.3-1.7-0.4-2.5c-0.1-0.3,0.2-0.5,0.6-0.4c1,0.2,1.9,0.3,2.8,0.5\r\n\t\t\tC66.7,29.7,67,30,67.1,30.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M65.8,28.6c-0.7-0.2-1.4-0.3-2.1-0.4c-0.3,0-0.6-0.3-0.6-0.5\r\n\t\t\tc-0.1-0.5-0.2-1-0.4-1.5c-0.1-0.2,0.1-0.3,0.4-0.2c0.7,0.1,1.4,0.3,2,0.4c0.2,0.1,0.5,0.2,0.6,0.4c0.2,0.5,0.3,1,0.5,1.5\r\n\t\t\tC66.2,28.5,66.1,28.7,65.8,28.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M63,36.8c0,0.4-0.2,0.6-0.6,0.6c-1-0.1-2-0.1-3.1-0.2\r\n\t\t\tc-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.9-0.1-1.9-0.2-2.8c0-0.3,0.3-0.6,0.7-0.5c1,0.1,2,0.1,3,0.3c0.4,0,0.7,0.3,0.7,0.7\r\n\t\t\tC62.8,34.9,62.9,35.8,63,36.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M58.8,64.9c0-0.4,0.4-0.7,0.8-0.7c1.1-0.1,2.1-0.1,3.1-0.2\r\n\t\t\tc0.4,0,0.7,0.3,0.6,0.6c-0.1,1-0.2,1.9-0.3,2.9c0,0.3-0.4,0.7-0.7,0.7c-1,0.1-2,0.2-3,0.3c-0.4,0-0.7-0.2-0.7-0.6\r\n\t\t\tC58.7,66.9,58.7,65.9,58.8,64.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M62.7,62.4c-1,0.1-2,0.1-3.1,0.2c-0.4,0-0.7-0.3-0.7-0.7\r\n\t\t\tc0-1,0.1-2.1,0.1-3.2c0-0.4,0.3-0.8,0.8-0.8c1.1,0,2.1-0.1,3.2-0.1c0.4,0,0.7,0.3,0.7,0.7c0,1.1-0.1,2.1-0.1,3.1\r\n\t\t\tC63.4,62.1,63.1,62.4,62.7,62.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M56.9,36.4c0,0.4-0.3,0.6-0.7,0.6c-1.1,0-2.1,0-3.2,0\r\n\t\t\tc-0.4,0-0.7-0.3-0.8-0.7c0-0.9,0-1.8,0-2.7c0-0.3,0.3-0.6,0.7-0.6c1,0,2.1,0,3.1,0.1c0.4,0,0.7,0.3,0.7,0.6\r\n\t\t\tC56.8,34.5,56.9,35.4,56.9,36.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M56.5,29c0.1,0.7,0.1,1.5,0.2,2.4c0,0.3-0.3,0.6-0.7,0.6\r\n\t\t\tc-1.1,0-2.1-0.1-3.2-0.1c-0.4,0-0.7-0.3-0.8-0.6c0-0.8,0-1.6,0-2.4c0-0.3,0.3-0.5,0.7-0.5c1,0,2,0,3,0.1\r\n\t\t\tC56.2,28.4,56.5,28.7,56.5,29z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M52.9,38.3c1.2,0,2.3,0,3.5,0.1c0.4,0,0.8,0.4,0.8,0.8\r\n\t\t\tc0,1.1,0.1,2.2,0.1,3.3c0,0.4-0.3,0.8-0.8,0.8c-1.2,0-2.4,0-3.6,0c-0.5,0-0.8-0.4-0.8-0.8c0-1.1,0-2.3,0-3.4\r\n\t\t\tC52.1,38.6,52.5,38.3,52.9,38.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M57.2,25.3c0-0.2,0.2-0.4,0.6-0.3c1,0.1,1.9,0.2,2.8,0.3\r\n\t\t\tc0.4,0,0.7,0.3,0.7,0.5c0.2,0.6,0.3,1.2,0.5,1.9c0.1,0.3-0.2,0.4-0.6,0.4c-1-0.1-2-0.2-3.1-0.3c-0.4,0-0.7-0.3-0.8-0.6\r\n\t\t\tC57.3,26.6,57.2,25.9,57.2,25.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M58.4,28.6c1,0.1,1.9,0.2,2.9,0.3c0.4,0.1,0.7,0.3,0.7,0.6\r\n\t\t\tc0.1,0.7,0.3,1.5,0.4,2.3c0,0.3-0.2,0.5-0.6,0.5c-1-0.1-2-0.2-3.1-0.3c-0.4,0-0.8-0.3-0.8-0.6c-0.1-0.8-0.1-1.6-0.2-2.4\r\n\t\t\tC57.7,28.7,58,28.5,58.4,28.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M58,70.1c0-0.4,0.4-0.8,0.9-0.8c1.3-0.1,2.5-0.2,3.7-0.3\r\n\t\t\tc0.5,0,0.8,0.2,0.7,0.7c-0.1,1-0.3,2-0.4,3c-0.1,0.4-0.5,0.7-0.9,0.8c-1.2,0.2-2.3,0.3-3.5,0.4c-0.5,0-0.8-0.2-0.8-0.6\r\n\t\t\tC57.8,72.2,57.9,71.2,58,70.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M57.9,74.9c0-0.3,0.4-0.6,0.8-0.6c1-0.1,2.1-0.2,3.1-0.3\r\n\t\t\tc0.4-0.1,0.6,0.1,0.6,0.4c-0.1,0.7-0.3,1.4-0.4,2.1c-0.1,0.2-0.4,0.5-0.7,0.5c-0.9,0.2-1.9,0.3-2.9,0.4c-0.4,0-0.7-0.1-0.6-0.4\r\n\t\t\tC57.8,76.3,57.8,75.6,57.9,74.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M55.7,23.8c0,0.2-0.2,0.3-0.5,0.3C54.4,24,53.6,24,52.8,24\r\n\t\t\tc-0.3,0-0.6-0.1-0.6-0.3c0-0.4,0-0.8,0-1.2c0-0.1,0.2-0.2,0.5-0.2c0.7,0,1.5,0,2.2,0.1c0.3,0,0.5,0.1,0.6,0.3\r\n\t\t\tC55.6,23,55.6,23.4,55.7,23.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M47,28.5c1-0.1,2-0.1,3-0.1c0.4,0,0.7,0.2,0.7,0.5\r\n\t\t\tc0,0.8,0,1.5,0,2.4c0,0.3-0.3,0.6-0.7,0.6c-1.1,0-2.2,0.1-3.2,0.1c-0.4,0-0.7-0.2-0.7-0.5c0.1-0.8,0.1-1.6,0.2-2.4\r\n\t\t\tC46.3,28.7,46.6,28.5,47,28.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M47,23.9c0.1-0.4,0.1-0.8,0.2-1.2c0-0.1,0.3-0.3,0.6-0.3\r\n\t\t\tc0.7-0.1,1.5-0.1,2.2-0.1c0.3,0,0.5,0.1,0.5,0.2c0,0.4,0,0.7,0,1.2c0,0.2-0.3,0.3-0.6,0.3c-0.8,0-1.6,0.1-2.4,0.1\r\n\t\t\tC47.2,24.1,47,24,47,23.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M45.1,27.2c0,0.2-0.3,0.5-0.7,0.5c-0.9,0.1-1.8,0.2-2.7,0.3\r\n\t\t\tc-0.3,0-0.6-0.1-0.5-0.3c0.1-0.6,0.3-1.2,0.4-1.7c0.1-0.2,0.3-0.4,0.7-0.4c0.8-0.1,1.7-0.2,2.5-0.3c0.3,0,0.6,0.1,0.5,0.3\r\n\t\t\tC45.2,26.1,45.2,26.6,45.1,27.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M45.4,24c0,0.2-0.3,0.3-0.6,0.4c-0.8,0.1-1.5,0.2-2.3,0.3\r\n\t\t\tc-0.3,0-0.5-0.1-0.4-0.2c0.1-0.4,0.2-0.8,0.4-1.2c0-0.1,0.3-0.3,0.6-0.3c0.7-0.1,1.4-0.2,2.1-0.3c0.3,0,0.5,0,0.5,0.2\r\n\t\t\tC45.6,23.2,45.5,23.6,45.4,24z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M37.5,26.5c0.8-0.2,1.6-0.4,2.4-0.5c0.3-0.1,0.5,0,0.5,0.3\r\n\t\t\tc-0.1,0.6-0.3,1.1-0.4,1.8c-0.1,0.2-0.4,0.5-0.7,0.6c-0.9,0.2-1.7,0.3-2.5,0.5c-0.3,0.1-0.5-0.1-0.4-0.3c0.2-0.6,0.4-1.2,0.6-1.7\r\n\t\t\tC36.9,26.8,37.2,26.5,37.5,26.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M39.1,73c-1-0.1-1.9-0.3-2.8-0.5c-0.3-0.1-0.7-0.4-0.7-0.7\r\n\t\t\tc-0.2-0.8-0.4-1.7-0.5-2.6c-0.1-0.3,0.2-0.6,0.5-0.5c0.9,0.2,1.9,0.3,2.9,0.4c0.4,0,0.7,0.4,0.8,0.7c0.1,0.9,0.3,1.8,0.4,2.6\r\n\t\t\tC39.7,72.8,39.4,73,39.1,73z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M25.4,51.5c0.6,0,1.3,0,1.9-0.1c0.3,0,0.5,0.3,0.5,0.7\r\n\t\t\tc0,1,0,2.1,0.1,3.1c0,0.4-0.2,0.7-0.5,0.7c-0.7-0.1-1.3-0.1-1.9-0.2c-0.2,0-0.4-0.3-0.4-0.7c0-0.9-0.1-1.9-0.1-2.9\r\n\t\t\tC25,51.8,25.2,51.5,25.4,51.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M22.4,46.4c0.5-0.1,0.9-0.2,1.4-0.2c0.2,0,0.3,0.3,0.3,0.7\r\n\t\t\tc0,1,0,2.1,0.1,3.1c0,0.4-0.1,0.7-0.3,0.7c-0.5,0-0.9-0.1-1.3-0.2c-0.2,0-0.4-0.5-0.4-0.9c0-0.9,0-1.4,0-2.4\r\n\t\t\tC22,46.9,22.2,46.5,22.4,46.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M24.9,49.8c0-1,0.1-2.1,0.2-3.1c0-0.4,0.3-0.7,0.5-0.8\r\n\t\t\tc0.7-0.1,1.4-0.2,2.1-0.3c0.3,0,0.5,0.3,0.5,0.7c-0.1,1.1-0.1,2.2-0.2,3.3c0,0.4-0.3,0.8-0.6,0.8c-0.8,0-1.5,0-2.1,0.1\r\n\t\t\tC25.1,50.5,24.9,50.2,24.9,49.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M25.7,57.1c0.6,0.1,1.2,0.1,1.8,0.2c0.3,0,0.5,0.3,0.5,0.7\r\n\t\t\tc0.1,0.9,0.2,1.8,0.3,2.7c0,0.3-0.1,0.6-0.4,0.5c-0.6-0.1-1.2-0.2-1.8-0.3c-0.2,0-0.4-0.3-0.5-0.7c-0.1-0.8-0.2-1.7-0.3-2.6\r\n\t\t\tC25.4,57.4,25.5,57.1,25.7,57.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M39.8,51.2c1.2,0,2.4,0,3.6,0c0.5,0,0.9,0.4,0.9,0.9\r\n\t\t\tc0,1.3,0,2.5,0,3.8c0,0.5-0.4,0.9-0.8,0.9c-1.2,0-2.4,0-3.6-0.1c-0.4,0-0.8-0.4-0.8-0.9c0-1.2-0.1-2.4-0.1-3.7\r\n\t\t\tC39,51.6,39.4,51.2,39.8,51.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M39,49.2c0-1.2,0-2.4,0.1-3.6c0-0.5,0.4-0.8,0.8-0.9\r\n\t\t\tc1.2-0.1,2.3-0.1,3.5-0.2c0.5,0,0.8,0.4,0.8,0.8c0,1.2,0,2.5,0,3.7c0,0.5-0.4,0.9-0.9,0.9c-1.2,0-2.4,0-3.6,0\r\n\t\t\tC39.4,50.1,39,49.7,39,49.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M38.5,43.1c0,0.5-0.4,0.9-0.9,1c-1.2,0.1-2.4,0.2-3.5,0.3\r\n\t\t\tc-0.4,0-0.7-0.3-0.7-0.8c0.1-1.2,0.2-2.4,0.3-3.6c0-0.4,0.4-0.8,0.8-0.9c1.1-0.1,2.2-0.3,3.4-0.4c0.5,0,0.8,0.3,0.8,0.7\r\n\t\t\tC38.6,40.6,38.6,41.8,38.5,43.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M33.4,49.4c0-1.2,0.1-2.3,0.1-3.5c0-0.4,0.3-0.8,0.7-0.8\r\n\t\t\tc1-0.1,2-0.2,3.1-0.2c0.4,0,0.7,0.3,0.7,0.8c0,1.2-0.1,2.4-0.1,3.6c0,0.5-0.4,0.8-0.8,0.9c-1.1,0-2.1,0-3.2,0.1\r\n\t\t\tC33.7,50.2,33.4,49.8,33.4,49.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M33,61.5c0,0.4-0.2,0.7-0.6,0.7c-0.9-0.1-1.8-0.2-2.6-0.4\r\n\t\t\tc-0.3,0-0.6-0.4-0.6-0.8c-0.1-1-0.2-2.1-0.3-3.1c0-0.4,0.2-0.7,0.5-0.7c0.8,0.1,1.7,0.1,2.6,0.2c0.4,0,0.7,0.4,0.7,0.8\r\n\t\t\tC32.8,59.3,32.9,60.4,33,61.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M34.3,57.5c1,0,2,0.1,3.1,0.1c0.4,0,0.8,0.4,0.8,0.8\r\n\t\t\tc0.1,1.2,0.1,2.3,0.2,3.4c0,0.4-0.3,0.7-0.7,0.7c-1-0.1-2-0.2-3-0.3c-0.4,0-0.7-0.4-0.7-0.8c-0.1-1.1-0.2-2.2-0.3-3.3\r\n\t\t\tC33.6,57.8,33.9,57.5,34.3,57.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M33.4,37.8c-0.1,0.4-0.4,0.7-0.7,0.8c-0.9,0.1-1.7,0.3-2.5,0.5\r\n\t\t\tc-0.3,0.1-0.5-0.2-0.4-0.5c0.2-0.9,0.3-1.8,0.5-2.7c0.1-0.3,0.4-0.6,0.7-0.7c0.8-0.2,1.6-0.4,2.4-0.6c0.3-0.1,0.5,0.1,0.5,0.5\r\n\t\t\tC33.7,36,33.5,36.9,33.4,37.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M30,40c0.8-0.2,1.7-0.3,2.5-0.4c0.3-0.1,0.6,0.2,0.5,0.6\r\n\t\t\tc-0.1,1-0.2,2.1-0.3,3.2c0,0.4-0.3,0.8-0.7,0.8c-0.9,0.1-1.8,0.2-2.6,0.3c-0.3,0-0.5-0.3-0.5-0.7c0.1-1,0.2-2,0.4-3\r\n\t\t\tC29.5,40.4,29.7,40.1,30,40z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M29.4,45.4c0.9-0.1,1.8-0.2,2.7-0.3c0.4,0,0.6,0.3,0.6,0.7\r\n\t\t\tc-0.1,1.2-0.1,2.4-0.1,3.6c0,0.5-0.3,0.8-0.7,0.8c-0.9,0-1.9,0-2.7,0.1c-0.3,0-0.6-0.3-0.6-0.8c0-1.1,0.1-2.3,0.2-3.4\r\n\t\t\tC28.8,45.8,29.1,45.5,29.4,45.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M29.1,51.1c0.9,0,1.8,0,2.8-0.1c0.4,0,0.7,0.4,0.7,0.9\r\n\t\t\tc0,1.3,0,2.5,0.1,3.7c0,0.5-0.3,0.8-0.7,0.8c-1-0.1-1.9-0.1-2.8-0.2c-0.3,0-0.6-0.4-0.6-0.8c-0.1-1.2-0.1-2.3-0.1-3.5\r\n\t\t\tC28.5,51.5,28.8,51.1,29.1,51.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M29.4,63.2c-0.1-0.4,0.2-0.7,0.5-0.6c0.9,0.1,1.8,0.3,2.7,0.4\r\n\t\t\tc0.4,0,0.7,0.4,0.8,0.9c0.1,1.1,0.3,2.2,0.5,3.2c0.1,0.4-0.2,0.6-0.5,0.6c-0.9-0.2-1.8-0.3-2.7-0.5C30.3,67,30,66.6,30,66.3\r\n\t\t\tC29.8,65.3,29.6,64.3,29.4,63.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M30.9,67.9c0.8,0.2,1.6,0.4,2.4,0.5c0.3,0.1,0.6,0.4,0.7,0.7\r\n\t\t\tc0.2,0.9,0.3,1.7,0.5,2.5c0.1,0.3-0.1,0.5-0.4,0.4c-0.8-0.2-1.6-0.4-2.3-0.6c-0.3-0.1-0.6-0.4-0.7-0.7c-0.2-0.8-0.4-1.6-0.6-2.4\r\n\t\t\tC30.5,68,30.6,67.8,30.9,67.9z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M39.4,62c-0.1-1.1-0.1-2.3-0.2-3.5c0-0.5,0.3-0.8,0.7-0.8\r\n\t\t\tc1.2,0,2.3,0.1,3.5,0.1c0.5,0,0.9,0.4,0.9,0.9c0,1.2,0.1,2.4,0.1,3.6c0,0.4-0.3,0.8-0.8,0.8c-1.2,0-2.3-0.1-3.5-0.2\r\n\t\t\tC39.8,62.8,39.4,62.4,39.4,62z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M44.1,42.5c0,0.4-0.4,0.8-0.8,0.8c-1.1,0-2.1,0.1-3.2,0.1\r\n\t\t\tc-0.4,0-0.7-0.3-0.7-0.7c0.1-1,0.1-2,0.2-3c0-0.4,0.4-0.7,0.7-0.7c1-0.1,2-0.2,3.1-0.2c0.4,0,0.7,0.3,0.7,0.6\r\n\t\t\tC44.2,40.4,44.1,41.4,44.1,42.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M38.7,37.1c0,0.4-0.4,0.8-0.8,0.8c-1,0.1-2,0.2-3,0.4\r\n\t\t\tc-0.4,0-0.6-0.2-0.6-0.6c0.1-1,0.3-1.9,0.4-2.8c0.1-0.3,0.4-0.7,0.7-0.7c0.9-0.2,1.9-0.3,2.9-0.5c0.4,0,0.7,0.2,0.6,0.5\r\n\t\t\tC38.9,35.2,38.8,36.1,38.7,37.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M38.5,32.8c-1,0.1-2,0.3-2.9,0.5c-0.4,0.1-0.6-0.1-0.5-0.5\r\n\t\t\tc0.2-0.8,0.4-1.6,0.6-2.4c0.1-0.3,0.4-0.6,0.7-0.7c0.9-0.2,1.8-0.4,2.8-0.6c0.4-0.1,0.6,0.1,0.6,0.4c-0.1,0.8-0.3,1.6-0.4,2.5\r\n\t\t\tC39.3,32.5,38.9,32.8,38.5,32.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M35.7,27.3c-0.2,0.5-0.4,1-0.5,1.6c-0.1,0.2-0.3,0.5-0.6,0.5\r\n\t\t\tc-0.7,0.2-1.4,0.4-2,0.6c-0.2,0.1-0.4,0-0.3-0.3c0.2-0.6,0.4-1.1,0.6-1.6c0.1-0.2,0.3-0.4,0.6-0.5c0.6-0.2,1.3-0.4,1.9-0.6\r\n\t\t\tC35.6,27,35.8,27.1,35.7,27.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M32.2,31.2c0.6-0.2,1.3-0.4,2-0.6c0.3-0.1,0.4,0.1,0.4,0.3\r\n\t\t\tc-0.2,0.6-0.3,1.3-0.5,2c-0.1,0.3-0.3,0.5-0.6,0.6c-0.7,0.2-1.4,0.3-2.1,0.5c-0.2,0.1-0.4-0.1-0.3-0.4c0.2-0.7,0.4-1.3,0.6-1.9\r\n\t\t\tC31.7,31.5,32,31.3,32.2,31.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M30.6,31.3c0.3-0.1,0.5,0,0.4,0.4c-0.3,0.8-0.5,1.7-0.8,2.6\r\n\t\t\tc-0.1,0.3-0.4,0.7-0.7,0.8c-0.8,0.2-1.5,0.5-2.2,0.8c-0.3,0.1-0.4-0.1-0.3-0.4c0.3-0.9,0.5-1.7,0.8-2.5", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M28.3,40.3c0.3-0.1,0.5,0.2,0.4,0.6c-0.2,1-0.3,2.1-0.4,3.2\r\n\t\t\tc0,0.4-0.3,0.8-0.6,0.8c-0.8,0.1-1.5,0.2-2.1,0.3c-0.2,0-0.4-0.2-0.4-0.6c0.1-1,0.2-2,0.4-3c0.1-0.4,0.3-0.7,0.6-0.8\r\n\t\t\tC26.9,40.6,27.6,40.4,28.3,40.3z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M45,77.5c-1-0.1-1.9-0.2-2.9-0.3c-0.4-0.1-0.7-0.3-0.7-0.5\r\n\t\t\tc-0.2-0.7-0.3-1.4-0.4-2.1c-0.1-0.3,0.2-0.5,0.6-0.4c1,0.1,2,0.2,3.1,0.3c0.4,0,0.8,0.3,0.8,0.6c0.1,0.7,0.2,1.5,0.3,2.1\r\n\t\t\tC45.7,77.3,45.4,77.5,45,77.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M44.4,73.4c-1-0.1-2-0.2-2.9-0.3c-0.4,0-0.7-0.3-0.7-0.6\r\n\t\t\tc-0.1-0.8-0.3-1.6-0.4-2.5c0-0.3,0.2-0.6,0.6-0.5c1,0.1,2,0.2,3.1,0.2c0.4,0,0.8,0.3,0.8,0.7c0.1,0.9,0.1,1.7,0.2,2.5\r\n\t\t\tC45.1,73.2,44.8,73.5,44.4,73.4z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M43.9,68.5c-1-0.1-2-0.1-3-0.2c-0.4,0-0.7-0.3-0.7-0.7\r\n\t\t\tc-0.1-0.9-0.2-1.9-0.3-2.8c0-0.4,0.3-0.7,0.6-0.6c1,0.1,2.1,0.1,3.1,0.2c0.4,0,0.8,0.3,0.8,0.7c0,1,0.1,2,0.2,2.9\r\n\t\t\tC44.6,68.2,44.3,68.5,43.9,68.5z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M44.4,36.6c0,0.4-0.4,0.7-0.8,0.7c-1.1,0.1-2.1,0.1-3.1,0.2\r\n\t\t\tc-0.4,0-0.7-0.2-0.6-0.6c0.1-0.9,0.2-1.8,0.3-2.7c0-0.3,0.4-0.6,0.7-0.7c1-0.1,2-0.2,3-0.3c0.4,0,0.7,0.2,0.7,0.5\r\n\t\t\tC44.5,34.7,44.4,35.6,44.4,36.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M44,32.1c-1,0.1-2.1,0.2-3.1,0.3c-0.4,0-0.7-0.2-0.6-0.5\r\n\t\t\tc0.1-0.8,0.2-1.6,0.4-2.4c0-0.3,0.4-0.5,0.7-0.6c1-0.1,1.9-0.3,2.9-0.3c0.4,0,0.7,0.2,0.6,0.4c-0.1,0.8-0.1,1.6-0.2,2.4\r\n\t\t\tC44.8,31.8,44.4,32.1,44,32.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M45.8,33.6c0-0.4,0.4-0.7,0.8-0.7c1.1-0.1,2.3-0.1,3.5-0.1\r\n\t\t\tc0.4,0,0.8,0.3,0.8,0.7c0,1,0,2,0,3.1c0,0.4-0.4,0.8-0.8,0.8c-1.2,0-2.4,0-3.6,0.1c-0.5,0-0.8-0.3-0.8-0.7\r\n\t\t\tC45.7,35.6,45.7,34.5,45.8,33.6z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M50.9,73.1c0,0.3-0.3,0.5-0.7,0.5c-1,0-2,0-3-0.1\r\n\t\t\tc-0.4,0-0.7-0.3-0.7-0.6c-0.1-0.8-0.1-1.6-0.2-2.5c0-0.3,0.3-0.6,0.7-0.6C48,70,49,70,50.1,70c0.4,0,0.7,0.3,0.8,0.6\r\n\t\t\tC50.9,71.5,50.9,72.3,50.9,73.1z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M50.9,62.2c0,0.4-0.4,0.8-0.8,0.8c-1.2,0-2.4,0-3.5,0\r\n\t\t\tc-0.4,0-0.8-0.4-0.8-0.8c0-1.1-0.1-2.3-0.1-3.4c0-0.4,0.3-0.8,0.8-0.8c1.2,0,2.4,0,3.6,0c0.5,0,0.8,0.4,0.8,0.8\r\n\t\t\tC50.9,59.9,50.9,61.1,50.9,62.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M51,55.8c0,0.5-0.4,0.9-0.9,0.9c-1.3,0-2.6,0-3.8,0\r\n\t\t\tc-0.5,0-0.9-0.4-0.9-0.9c0-1.3,0-2.5,0-3.8c0-0.5,0.4-0.9,0.9-0.9c1.3,0,2.5,0,3.8,0c0.5,0,0.9,0.4,0.9,0.9\r\n\t\t\tC51,53.2,51,54.5,51,55.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M51.1,49.2c0,0.5-0.4,0.9-0.9,0.9c-1.3,0-2.7,0-4,0\r\n\t\t\tc-0.5,0-0.9-0.4-0.9-0.9c0-1.3,0-2.6,0-4c0-0.5,0.4-0.9,0.9-0.9c1.3,0,2.6-0.1,4-0.1c0.5,0,0.9,0.4,0.9,0.9\r\n\t\t\tC51.1,46.5,51.1,47.8,51.1,49.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M50,43.2c-1.2,0-2.4,0-3.6,0.1c-0.5,0-0.8-0.3-0.8-0.8\r\n\t\t\tc0-1.1,0.1-2.3,0.1-3.4c0-0.4,0.4-0.8,0.8-0.8c1.2-0.1,2.3-0.1,3.5-0.1c0.5,0,0.8,0.3,0.8,0.7c0,1.1,0,2.2,0,3.4\r\n\t\t\tC50.8,42.9,50.4,43.2,50,43.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M51.8,27c0-0.7,0-1.3,0-2c0-0.2,0.3-0.4,0.7-0.4c1,0,2,0,3,0.1\r\n\t\t\tc0.4,0,0.7,0.2,0.7,0.4c0.1,0.6,0.2,1.3,0.2,2c0,0.3-0.3,0.5-0.7,0.5c-1.1-0.1-2.1-0.1-3.2-0.1C52.2,27.5,51.8,27.3,51.8,27z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
              %path{"clip-rule" => "evenodd", :d => "M51.9,45.2c0-0.5,0.4-0.9,0.9-0.9c1.3,0,2.6,0,3.9,0\r\n\t\t\tc0.5,0,0.9,0.4,0.9,0.9c0,1.3,0.1,2.6,0.1,3.9c0,0.5-0.4,0.9-0.9,0.9c-1.3,0-2.7,0-4,0c-0.5,0-0.9-0.4-0.9-0.9\r\n\t\t\tC51.9,47.8,51.9,46.5,51.9,45.2z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
      .cat#send
- else 
  %svg#svg
  %svg#svgcircle
  
  
  %p.centertitle
    CREA EL MEJOR INCMTY<br>
    <span>Y GANA UNA ENTRADA <br>PARA NUESTRO <br>EVENTO 2014</span>
    = link_to "/auth/facebook" do
      = image_tag "login.png"
#footer-tangram
  .left
    %a.tw{:href => "https://twitter.com/incmty", :target => "_blank"}
    %a.fb{:href => "https://www.facebook.com/INCmty", :target => "_blank"}
    / %a.in{:href => "http://www.facebook.com", :target => "_blank"}

  .right
    %a.inscribete{:href => "http://www.incmty.com/contacto/", :target => "_blank"} Inscríbete
    %a.legal{:href => "http://www.incmty.com/aviso-legal/", :target => "_blank"} Aviso Legal
    %p.copyright © 2014 INCmty. ITESM México 2014
