@font-face {
    font-family: 'big';
    src: url(<%= asset_path("geo.eot")%>);
    src: url(<%= asset_path("geo.eot?#iefix")%>) format('embedded-opentype'),
         url(<%= asset_path("geo.woff")%>) format('woff'),
         url(<%= asset_path("geo.ttf")%>) format('truetype'),
         url(<%= asset_path("geo.svg#ccupupandawayregular")%>) format('svg');
    font-weight: normal;
    font-style: normal;

}